 <!--JumboTron -->
      <div class="container">
      	<div class="jumbotron">
            <div class="text-center"><img ng-src="../images/technologies/MyPictureFromGalvanize.png" height="100px" width="100px" alt=""></div>
      		<div class="text-center">
      			<h3>Contact</h3>
                <p>Phone: 303 842-5270</p>
                <p>Email: michaeltobin.work@gmail.com</p>
      		</div>
      	</div>

  <!-- 3 Col Layout under Jumbo -->
  <h1 class="h1Center">Showcase</h1>
      	<div class="row text-center" ng-controller="mainPageController">
      		<div class="col-md-4">
      		<a href="#/projects/0" class="thumbnail home-thumb">
      			<img src="../images/courseCad/5.png" alt="No Image">
      		</a>
      		<h3>Course Caddy</h3>
      		</div>
      		<div class="col-md-4">
      		<a href="#/projects/2" class="thumbnail home-thumb">
      			<img src="../images/clique/1.png" alt="No Image">
      		</a>
      		<h3>Clique</h3>
      		</div>
      		<div class="col-md-4">
      		<a href="#/projects/10" class="thumbnail home-thumb">
      			<img src="../images/merc/1.jpg" alt="No Image">
      		</a>
      		<h3>MERC</h3>
      		</div>
      	</div>
          <a ui-sref="projects" class="btn btn-danger centerBtn">View All Projects</a>
      </div>
