<div class="container">
  <div class="row text" ng-controller="projectController">
    <div class="col-md-2"></div>
    <div class="container">
      <h4>About</h4>
      <div class="col-md-8">
        Over the past two years I have changed my career path three times. From a hospitality path, to game development and finally to web development. I knew I wanted to explore a career that would allow me to be creative. I truly enjoy game development and think it's a great way to teach yourself programming, but I was not ok with where the industry was headed, with in-game purchases on the rise. This is where I fell in love with web development, because it allows for complete freedom of ideas and is a blank canvas of opportunity.
        <br />
        <br />
        A little about me, if I'm not playing golf or tearing my ACL, you can find me behind a computer screen experimenting with new technologies or strengthening my known ones. I am always looking to expand my knowledge and seek new challenges that development offers. After having lived in Chicago the past two years, I take full advantage of all that Colorado has to offer. I am a big hiker, camper and snowboarder. Competition drives me and I am always open to a fresh challenge.
      </div>
    </div>
    <div class="container" style="padding-top:50px">
      <h4>Contact</h4>
      <div class="col-md-8">
        Email:<a href="mailto:michaeltobin.work@gmail.com"> MichaelTobin.work@gmail.com</a>
        <br />
        Phone: (303) 842-5270
        <br />
        linkedIn: <a href="https://www.linkedin.com/in/michaeltobin18"> /in/michaeltobin18</a>
        <br />
        github: <a href="https://github.com/MichaelTobin18"> /MichaelTobin18</a>
      </div>
    </div>
  </div>
</div>
