
<div class="container" ng-controller="projectSingleController">
    <div class="page-header">
        <h1>{{project.project}} </h1>
    </div>
    <div class="col-sm-8">
        <h3>About</h3>
        <p>{{project.about}}</p>
        <h3>Challenges</h3>
        <p>{{project.challenges}}</p>
         <h3>Future Plans</h3>
        <p>{{project.future}}</p>
        <p class="spacer"></p>
        <div ng-repeat="img in project.img_refs_pics" class="text-center">
            <img src="http://s3images.coroflot.com/user_files/individual_files/302239_CauyLQoHZTkSJkkGnr3kVbFtw.jpg" alt="">
            <p class="spacer"></p>
            <img src="http://s3images.coroflot.com/user_files/individual_files/302239_CauyLQoHZTkSJkkGnr3kVbFtw.jpg" alt="">
        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Links</h3>
            </div>
            <div class="panel-body bg-grey">
            <p><a href="{{project.hosted_site}}">Host Site</p></a>
            <p><a href="{{project.github}}">GitHub</p></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Technologies</h3>
            </div>
            <div class="panel-body bg-grey text-center" ng-repeat="img in project.img_refs_techs">
            <img ng-src="{{img}}" alt="" class="img" WIDTH=164 HEIGHT=164>
            </div>
        </div>
    </div>
</div>