
<div class="container" ng-controller="projectSingleController">
    <div class="page-header">
        <h1>{{project.project}} </h1>
    </div>
    <div class="col-sm-8">
        <div class="thumbnail">
            <img src="" alt="Second Page Stuff">
            <div class="caption text-center">
            <a href="#" class="btn btn-primary" role="button">Live Preview</a>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, eos persius eripuit suscipit et. At vim verear legendos, natum apeirian ius ne. Mei ne graecis delicata ocurreret. Prompta fabellas in qui. Legimus accumsan an his, mei corrumpit evertitur id, probatus lobortis te cum.</p>
    </div>
    <!-- SIDEBAR -->
    <div class="col-sm-4">
            <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Links</h3>
            </div>
            <div class="panel-body bg-grey">
            <p>Host Site</p>
            <p><a href="{{project.github}}">GitHub</p></a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Technologies</h3>
            </div>
            <div class="panel-body bg-grey text-center">
            <img src="" alt="" class="img-circle" WIDTH=164 HEIGHT=164>
            <h4>Hot Damn</h4>
            </div>
        </div>
    </div>
</div>